.O_x{
    width: 12px;
    height: 12px;
}
body{
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
    
}
img{
    height: 100px;
    width: 100px;
}
table {
    border-collapse: collapse; 

table, th, td {
    border: none; 
}

th, td {
    text-align: center; 
    padding: 10px; 

th {
    background-color: #5da2f0; 
}
input[type="number"] {
    width: 50px; 
    padding: 5px; 
    font-size: 14px; 
}
